<div class="modal d-block bg-secondary" tabindex="-1" role="dialog" aria-label="chatbot" id="modalTour">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-body p-3">
            <div class="modal-header">
                <img src="../../assets/robot.svg" class="rounded float-start chatbot-icon" alt="/"/> <h1>AquentBot</h1>
            </div>
          <ul class="gap-1 my-1 list-unstyled text-container" #scroll>
            <app-text-bubble *ngFor="let bubble of (textBubbles ? textBubbles : [])" [bubble]=bubble></app-text-bubble>
          </ul>
          <div *ngIf="showSpinner" class="spinner-container">
              <div  class="spinner-grow" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div  class="spinner-grow" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div  class="spinner-grow" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
          </div>
          <footer class="chatbot-footer">
            <form class="row g-3 needs-validation" [formGroup]="chatForm" (ngSubmit)="onSubmit()" >
                <div class="col-auto">
                  <label for="inputQuestion" class="visually-hidden">Password</label>
                  <input type="text" class="form-control" id="inputQuestion" formControlName="message" placeholder="Reply to AquentBot" >
                  <div *ngIf="chatForm.controls['message'].errors?.['maxlength']" class="error-text">max charecters 256</div>
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-danger mb-3" [disabled]="chatForm.invalid">Submit</button>
                </div>
            </form>
        </footer>
        </div>
      </div>
    </div>
  </div>