.chatbot-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: center;
    justify-self: center;
    align-items: space-between;
    height: 500px;
    justify-content: space-between;
    border-radius: 10px;
    background-color: white;
}

.chatbot-header {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(195,54,34);
    background: linear-gradient(0deg, rgba(195,54,34,1) 0%, rgba(253,187,45,1) 100%);
    color: white;
    border-radius: 10px 10px 0 0;
}

.chatbot-icon {
    max-height: 70%;
    margin: 0 5px;
}

.chatbot-footer {
    display: flex;
    align-items: center;
    height: 10%;
    padding: 0 5px 0 20px;

    input {
        width: 70%;
        height: 20px;
    }
}

:host {
    width: 20%; 
}